page-check-in {
	.map-container {
		height: 250px;
	    width: 100%;
	}

	.sebm-google-map-container-inner {
	    height: 100% !important;
	    width: 100% !important
	}

	ion-icon {
	    font-size: 2.2em;
	}

	.pic-container {
		margin-top:10px;
		height: 200px;
	    width: 100%;
	}

	.pic-container img {
		margin: auto;
		width: initial;
		max-width: 100%;
		max-height: 200px;
	}

	.video-container{
		margin-top:10px;
		padding-top: 56.25%; /* 16:9 Aspect Ratio */ //75%; /* 4:3 Aspect Ratio */
	    width: 100%;
    	position: relative;
	}

	.video-container video {
		max-height: 100%;
		width: 100%;		
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.button-md {
	    color: #ffffff;
	    // background-color: #a5a5a5;
	}

	// Height Animation
	.transformable {
		-webkit-transition: height 100ms linear;
		-moz-transition: height 100ms linear;
		-o-transition: height 100ms linear;
		-ms-transition: height 100ms linear;
		transition: height 100ms linear;
	}

	.small {
		height:100px;
	}

	.big {
		height:300px;
	}

	// <div class="transformable" ng-class="{'small':isSmall, 'big':!isSmall}" ng-click="isSmall = !isSmall"> </div>
}
