<ion-header>
	<ion-navbar hideBackButton>
	<ion-buttons style="float:left;">
      <button ion-button (click)="close(0)">
        <ion-icon name="close"></ion-icon>
      </button>
     </ion-buttons>
     <ion-title>Feed Filters</ion-title>
	<ion-buttons end>
      <button ion-button (click)="close(1)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
     </ion-buttons>
    </ion-navbar>
  	<!-- SUB HEADER -->
	<ion-toolbar>
	      <ion-grid>
	        <ion-row justify-content-center align-items-center>	          
	    			<ion-checkbox [(ngModel)]="checkedAll" (click)="selectAllCategory()"></ion-checkbox>
	          <ion-col width-50 (click)="show=1;">
	            <div align="center">CATEGORY</div>
	          </ion-col>
	        </ion-row>
	      </ion-grid>
  	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-list *ngIf="show == 1">
		
	  	<ion-item *ngFor="let category of categories">
	    	<ion-label>{{category.name}}</ion-label>
	    	<ion-checkbox [(ngModel)]="category.checked" (ionChange)="addToCategoryList(category)"></ion-checkbox>
	  	</ion-item>
	</ion-list>

</ion-content>
