<ion-header>
	<ion-navbar>
		 <button ion-button menuToggle>
      <ion-icon class="white" name="menu"></ion-icon>
    </button>
    <ion-title>My Friends</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

	<ion-list>
  	<ion-list-header>
	    	Friend Requests
	    	<div class="badge" align="right"><ion-badge color="light">{{length?.requests}}</ion-badge></div>
		</ion-list-header>
		<div *ngIf="length?.requests != 0">
			<ion-item-sliding *ngFor="let request of requests">
		  	<ion-item>
		    	<ion-avatar item-left>
		      		<img src="img/avatar-finn.png">
		    	</ion-avatar>
			    <h2>Finn</h2>
			    <h3>Don't Know What To Do!</h3>
			    <p>I've had a pretty messed up day. If we just...</p>
		  	</ion-item>
		  	<ion-item-options side="left">
	      	<button ion-button color="primary">
	        	<ion-icon name="text"></ion-icon>
        		Accept
	      	</button>
	      	<button ion-button color="danger">
	        	<ion-icon name="call"></ion-icon>
	        	Decline
	      	</button>
	    	</ion-item-options>
	    </ion-item-sliding>
  	</div>
  	<div style="width:100%" align="center" *ngIf="length?.requests == 0">
	  	<ion-item>
	  		<div align="center">
			    <p>
			    	<ion-icon name="sad"></ion-icon>
		    		No requests
		    	</p>
	    	</div>
	  	</ion-item>
	</div>
	</ion-list>

	<ion-list>
 		<ion-list-header>
    	Friends
    	<div class="badge" align="right"><ion-badge color="light">{{length?.friends}}</ion-badge></div>
  	</ion-list-header>
  	<div *ngIf="length?.friends != 0">
			<ion-item-sliding *ngFor="let friend of friends">
				<ion-item>
			  	<ion-avatar item-left (click)="profile(friend._id)">
		    		<img src="img/avatar-finn.png">
			    </ion-avatar>
			    <h2>{{friend.username}}</h2>
			    <h3>{{friend.firstname}} {{friend.lastname}}</h3>
			    <p>{{friend.email}}</p>
		  	</ion-item>
		  	<ion-item-options side="right">
		    	<button (click)="unfriend(friend._id)" ion-button color="danger">
		      	<ion-icon name="remove-circle"></ion-icon>
		    		Un Friend
		    	</button>
		    </ion-item-options>
		  </ion-item-sliding>
		</div>
		<div *ngIf="length?.friends == 0">
			<ion-item>
	  		<div align="center">
			    <p>
			    	<ion-icon name="sad"></ion-icon>
		    		You got no friends
		    	</p>
	    	</div>
	  	</ion-item>
		</div>
	</ion-list>
</ion-content>
