
<ion-header>
  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
    
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isEmpty">      
    <ion-list>    
      <!-- <ion-list-header>Today</ion-list-header> -->

      <ion-item *ngFor="let comment of data">
        <ion-avatar item-start>
          <!-- <img src="assets/img/avatar-ts-woody.png"> -->
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h2>{{comment?._userID?.username}}</h2> 
        <p>{{comment.commentText}}</p>
        <ion-note item-end>{{comment?.dateTime | timeAgo}}</ion-note>
      </ion-item>

    </ion-list>
  </div>

  	<!-- <div *ngIf="isEmpty" class="card-background-page">
	    <ion-card>
	      	<img src="assets/img/nodata.jpg"/>
	      	<div class="card-subtitle">You dont have any Checkins from last 24hrs.</div>
	    </ion-card>
    </div> -->

</ion-content>

<ion-footer>
  <ion-navbar>
      <ion-item no-lines>
        <div item-start>
          <ion-icon name="send"></ion-icon>
        </div>
        <ion-input [(ngModel)]="comment" type="text" placeholder="Add a comment..."></ion-input>

        <button ion-button item-end backgound-color="light_blue" clear icon-only (click)="newPostComment(comment, checkinId, currentUserId)">
          <ion-icon name='checkmark' is-active="false"></ion-icon>
        </button>
      </ion-item>
  </ion-navbar>
</ion-footer>
